.catalog{
  display: flex;
  justify-content: center;
  grid-gap: 40px;
  flex-wrap: wrap;

}
.settings {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 550px) {
  .settings {
    flex-direction: column;
    grid-gap: 20px;
  }

}